/* 
By Disease
Discord UserID: 678469587444170762
*/

@import url(https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);

.guildIcon-3ZfRfI::after,.wrapper-1HIH0j .inviteSplash-2nkLRX{height:100%;-webkit-mask-image:linear-gradient(90deg,rgba(0,0,0,0.2) 0,rgba(0,0,0,1) 60%)}
.guildIcon-3ZfRfI::after,.wrapper-1HIH0j:hover .guildIcon-3ZfRfI::after{height:173px;background-size:cover!important;-webkit-transition:transform .2s ease-out;transition:transform .2s ease-out}
.wrapper-1HIH0j:hover .guildIcon-3ZfRfI::after{transform:scale(1.01) translateZ(0)!important;-webkit-transform:scale(1.01) translateZ(0)!important}
.guildIcon-3ZfRfI,.wrapper-1HIH0j:hover .guildIcon-3ZfRfI{box-shadow:none}
.guildIconImage-74OdmM {
    margin-top:10px;
}
.button-2b4VEQ {
    margin-top:15px!important;
    margin-right:175px!important;
}
