/**
 * @name Soon
 * @author Satana
 * @version 1.0.0
 * @description Soon is a simple, chill theme
 * @website https://obedience.lol
 * @source https://github.com/Obedient/Theme
 * @invite eMkbXHPgc5
 */

/* Imports */
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url(https://untitledmorgue.github.io/theme-soon/snippets/A-User-264062457448759296/Public-Badge-Go-Woosh.css);
@import url(https://untitledmorgue.github.io/theme-soon/snippets/Disease-678469587444170762/Bearable-Inbox.css);
@import url(https://untitledmorgue.github.io/theme-soon/snippets/Disease-678469587444170762/ChatBubbles.css);
@import url(https://untitledmorgue.github.io/theme-soon/snippets/Disease-678469587444170762/Connection-Issue-Let-Me-Be.css);
@import url(https://untitledmorgue.github.io/theme-soon/snippets/Disease-678469587444170762/Redesigned-Invites.css);
@import url(https://untitledmorgue.github.io/theme-soon/snippets/Doggybootsy-515780151791976453/Pin-Home.css);
@import url(https://untitledmorgue.github.io/theme-soon/snippets/Obscure-755436063828213821/Icon-Replace.css);
:root {
  /* Avatar Image Shape */
    --avatar-radius: 10px;
  /* Radial Status */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
  --rs-avatar-shape: 10%; /* 50% for round - 0% for square */
  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  /* Chat Bubbles */
      --chat-bubble: 1;

    --chat-bubble-background-color: rgba(12, 12, 12, 0.175);
    --chat-bubble-border-color: none;
    --chat-bubble-code-background-color: var(--background-secondary-alt);

    --chat-bubble-max-width: 90%;
    --chat-bubble-border-radius: 10px;

    --chat-bubble-box-shadow-h-offset: 0;
    --chat-bubble-box-shadow-v-offset: 0;
    --chat-bubble-box-shadow-blur: 0;
    
    --chat-bubble-box-shadow-color-h: 0;
    --chat-bubble-box-shadow-color-s: 0%;
    --chat-bubble-box-shadow-color-l: 0%;
    --chat-bubble-box-shadow-color-a: 0;

}

/* Sidebar */
.sidebar-1tnWFu {
  border-top-left-radius:10px;
}

/* pin home */
.guilds-2JjMmN .tree-3agP2X:focus {
  outline-color: transparent;
}
.guilds-2JjMmN .scroller-3X7KbA {
  contain: unset;
  margin-top: 53px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
  position: fixed;
  transform: translatey( -115% );
  background-color:#171717;
  border-top-right-radius:10px;
}
.tutorialContainer-1pL9QS.listItem-3SmSlK.wrapper-3kah-n[data-list-item-id="guildsnav___home"] {
  margin-top:25px!important;
}
.guildSeparator-a4uisj {
  display:none;
}
.unreadMentionsIndicatorTop-2bTgUU {
  margin-top:50px;
}

/* Server List */
.guilds-2JjMmN {
  margin-top:20px;
  margin-bottom:10px;
  border-top-right-radius:10px!important;
  border-bottom-right-radius:10px!important;
  margin-right:10px!important;
}
.scroller-3X7KbA {
  background-color:rgb(26, 27, 29);
}
.tutorialContainer-1pL9QS > .listItem-3SmSlK:first-child{
    margin-top:9px;
}
.scroller-3X7KbA .wrapper-28eC3z foreignObject, .folderIconWrapper-1oRIZr, .wrapperSimple-Js2rIO{
  mask: none;
  border-radius: 5px;
}
.icon-1zKOXL {
  mask:none;
  border-radius:3px;
}

/* Titlebar/Wordmark */
.wordmark-2u86JB {
      color: gray;
      align-items:center;
      width:fit-content;
      font-size:15px;
      font-weight:800;
    }
    .titleBar-1it3bQ .wordmark-2u86JB {
      padding: 5px 9px 5px;
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  .wordmark-2u86JB::before {
    content:"Soon";
    position:absolute;
    font-size:15px;
    margin-top:10px;
  }
  .wordmark-2u86JB > svg {
     display:none;
  }


/* User Panel */
  .button-12Fmur {
    background-color:#2F3136;
    border-radius:0;
  }
  .button-12Fmur:nth-child(1) {
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
  }
  .button-12Fmur:nth-child(3) {
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
  }

  /* Action Buttons */
  .actionButton-3-B2x- {
    border-radius:10px;
  }

  /* Avatars */
  .wrapper-1VLyxH foreignObject,
.callAvatarMask-fiNMWy foreignObject,
.avatarContainer-gPrCzX foreignObject,
.avatarMasked-qX7NI7 {
  mask: none;
  -webkit-mask: none;
}
.wrapper-1VLyxH,
.avatar-b5OQ1N,
.profile-1o7I_1 .avatarUploaderInner-yEhTv5,
.voiceAvatar-lRbblo,
.avatar-2e8lTP,
.border-2BJQjd,
.avatar-3FKimL,
.clickableAvatar-igrb2Y,
.emptyUser-2FDCJv,
.avatar-3TrM7c,
.wrapper-3mYmFS.ringingIncoming-fibTw-::after,
.wrapper-3mYmFS.ringingOutgoing-1NjfRn::after,
.replyAvatar-sHd2sU,
.avatarSpeaking-33RRJU,
.avatar-2EVtgZ,
.avatarContainerMasked-13fYnN,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius);
}
.avatarHint-k7pYop,
.avatarHint-k7pYop foreignObject {
    border-radius: var(--avatar-radius);
    mask: none;
}
.avatarHintInner-2HUAWj {
    border-radius: var(--avatar-radius);
}

/* Mentions */
.numberBadge-37OJ3S {
  mask:none!important;
  -webkit-mask:none!important;
  border-radius:5px!important;
  border: solid 1px rgb(26, 27, 29);
}
.lowerBadge-3WTshO {
  border-top-left-radius:5px!important;
  border-top-right-radius:3px!important;
  border-bottom-left-radius:3px!important;
  margin-bottom:-5px!important;
  margin-right:-5px!important;
  border:solid 2px rgb(26, 27, 29);
  background-color:rgb(26, 27, 29);
}
.unreadMentionsIndicatorBottom-3RJMnQ.bar-2eAyLE,.unreadMentionsBar-ZXXoOH {
  mask:none!important;
  border-radius:5px!important;
}
